<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <meta content="width=device-width, initial-scale=1" name="viewport">
                    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                    <title>
                        Storage Report
                    </title>
                    <!-- Bootstrap -->
                    <link href="static/css/stx-pattern-library.min.css" rel="stylesheet">
                        <script src="https://cdn.plot.ly/plotly-latest.min.js">
                        </script>
                    </link>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
        <!-- https://plot.ly/javascript/heatmaps/#basic-heatmap -->
        <!-- https://plot.ly/javascript/#layout-options -->
        <!--

        Can plot:
         partition over hostname
         partition over os type
         os type over number of lines in /var/log/messages
        -->
        <br>
            <br>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Storage Heatmap by Hostname
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="myplot">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Storage Heatmap by OS-type
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="osplot">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                    <script src="static/js/jquery.min.js">
                    </script>
                  
                    <!-- Include all compiled plugins (below), or include individual files as needed -->
                    <script src="static/js/stx-pattern-library.min.js">
                    </script>
                    <script>
                        
    var colorscaleValue = [
        //[0, '#dddddd'],
        //[0, '#5cb85c'],
        [0, '#00a1dd'],
        [.3, '#5bc0de'],
        [.8, '#f0ad4e'],
        [1, '#d9534f'],
    ];

    var layout = {
        font: {
            family: 'Arial',
            size: 12,
            color: '#7f7f7f'
        },
        //title: 'Annotated Heatmap',
        annotations: [],
        xaxis: {
            ticks: '',
            side: 'top'
        },
        yaxis: {
            ticks: '',
            ticksuffix: ' ',
            //width: 700,
            //height: 800,
            autosize: true
        }
    };

    $.get("/data1" , (d) => {
        var data = [{
        x: d.x,
        y: d.y,
        z: d.z,
        type: 'heatmap',
        colorscale: colorscaleValue,
        showscale: false
        }];

        Plotly.newPlot('myplot', data, layout);
        Plotly.relayout('myplot', {
            height: 800
        });
    }, "json");

    $.get("/data2" , (d) => {
        var data = [{
        x: d.x,
        y: d.y,
        z: d.z,
        type: 'heatmap',
        colorscale: colorscaleValue,
        showscale: false
        }];

        Plotly.newPlot('osplot', data, layout);
        Plotly.relayout('osplot', {
            height: 800
        });
    }, "json");





                    </script>
                </div>
            </br>
        </br>
    </body>
</html>
